stages:
  - release

build_release_linux:
  image: ubuntu:hirsute
  stage: release
  when: manual
  before_script:
    - apt update && apt -y install build-essential wget
    - cd trackpoint-app
    - ./build-dependencies-first.sh release
    - mkdir build
  script:
    - cd build
    - cmake ..
    - cmake --build . --parallel
  artifacts:
    expire_in: 2 weeks
    paths:
      - trackpoint-app/build/TrackpointApp
