stages:
  - release

build_release_linux:
  image: ubuntu:hirsute
  stage: release
  when: manual
  before_script:
    - apt-get update && apt-get -y install build-essential wget cmake libsystemd-dev freeglut3 freeglut3-dev libglew1.5-dev libglu1-mesa libglu1-mesa-dev libgl1-mesa-glx libgl1-mesa-dev libvulkan-dev
    - cd trackpoint-app
    - ./build-dependencies-first.sh release
    - mkdir build
  script:
    - cd build
    - cmake ..
    - cmake --build . --parallel
  artifacts:
    expire_in: 2 weeks
    paths:
      - trackpoint-app/build/TrackpointApp

build_release_windows:
  image: ubuntu:hirsute
  stage: release
  when: manual
  before_script:
    - apt-get update && apt-get install gcc-mingw-w64 wget cmake
    - cd trackpoint-app
    - ./build-dependencies-first.sh win-cross
    - mkdir build
  script:
    - cd build
    - cmake ..
    - cmake --build . --parallel
  artifacts:
    expire_in: 2 weeks
    paths:
      - trackpoint-app/build/TrackpointApp.exe
